layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/zjstatus.wasm" {
                color_fg     "#FFFFFF"
                color_fg_dim "#A0A0A0"

                format_left   "{mode} #[fg=blue,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""
                mode_normal        "#[fg=$fg] NORMAL "
                mode_locked        "#[fg=$fg_dim] LOCKED "
                mode_pane          "#[fg=$fg] PANE "
                mode_tab           "#[fg=$fg] TAB "
                mode_scroll        "#[fg=$fg] SCROLL "
                mode_enter_search  "#[fg=$fg] ENT-SEARCH "
                mode_search        "#[fg=$fg] SEARCH "
                mode_resize        "#[fg=$fg] RESIZE "
                mode_rename_tab    "#[fg=$fg] RENAME TAB "
                mode_rename_pane   "#[fg=$fg] RENAME PANE "
                mode_move          "#[fg=$fg] MOVE "
                mode_session       "#[fg=$fg] SESSION "
                mode_prompt        "#[fg=$fg] PROMPT "
                tab_normal              "#[fg=$fg_dim] {index} {name} {floating_indicator} "
                tab_normal_fullscreen   "#[fg=$fg_dim] {index} {name} {fullscreen_indicator} "
                tab_normal_sync         "#[fg=$fg_dim] {index} {name} {sync_indicator} "
                tab_active              "#[fg=$fg,bold] {index} {name} {floating_indicator} "
                tab_active_fullscreen   "#[fg=$fg,bold] {index} {name} {fullscreen_indicator} "
                tab_active_sync         "#[fg=$fg,bold] {index} {name} {sync_indicator} "
                tab_separator           " "
                tab_sync_indicator       ""
                tab_fullscreen_indicator "󰊓"
                tab_floating_indicator   "󰹙"
                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=red] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
                datetime        "#[fg=grey,bold] {format} "
                datetime_format "%H:%M  |  %a %Y-%m-%d"
                datetime_timezone "Europe/Berlin"
            }
        }
        children
    }

    tab_template name="ui" {
        pane size=1 borderless=true
        children
    }

    swap_tiled_layout name="vertical" {
        ui max_panes=4 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        ui max_panes=7 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        ui max_panes=11 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        ui max_panes=3 {
            pane
            pane
        }
        ui max_panes=7 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        ui max_panes=11 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        ui min_panes=4 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
           pane { x "1%"; y "55%"; width "45%"; height "45%"; }
           pane { x "50%"; y "55%"; width "45%"; height "45%"; }
           pane { x "1%"; y "1%"; width "45%"; height "45%"; }
           pane { x "50%"; y "1%"; width "45%"; height "45%"; }
       }
    }
}
