name: Checks
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    branches: [main]
    paths: 
      - '**/*.nix'
      - 'flake.lock'

jobs:
  detsys:
    name: DeterminateSystems Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/flake-checker-action@v9
  nix:
    name: Nix Checks
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v3
      - uses: DeterminateSystems/nix-installer-action@v17
        with:
          extra-conf: |
            extra-platforms = aarch64-linux
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v17
      - name: Run nix flake check
        run: nix flake check
