name: Checks
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  detsys:
    name: DeterminateSystems Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/flake-checker-action@v4
  nix:
    name: Nix Checks
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v3
      - uses: DeterminateSystems/nix-installer-action@v3
        with:
          extra-conf: |
            extra-platforms = aarch64-linux
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v3
      - name: Run nix flake check
        run: nix flake check
