name: Images
on:
  workflow_dispatch:
  schedule:
  - cron: "0 7 * * 1"

jobs:
  raw-x86:
    name: Raw x86_64 cros
    runs-on: ubuntu-24.04
    steps:
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: 9lore
          skipPush: true
          useDaemon: false
      - uses: actions/checkout@v5
      - name: Save commit short hash 
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - run: nix build -L .#nixosImages.raw-x64cros
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: nixos-raw-x64cros-${{ steps.vars.outputs.sha_short }}.img
          path: result/nixos_cros-x86_64-linux-${{ steps.vars.outputs.sha_short }}.img
  iso-x64:
    name: ISO 9660 x86_64
    runs-on: ubuntu-24.04
    steps:
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: 9lore
          skipPush: true
          useDaemon: false
      - uses: actions/checkout@v5
      - name: Save commit short hash 
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - run: nix build -L .#nixosImages.iso-x86_64
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: nixos-x86_64-linux-${{ steps.vars.outputs.sha_short }}.iso
          path: result/iso/nixos-x86_64-linux-${{ steps.vars.outputs.sha_short }}.iso
