name: Images
on:
  workflow_dispatch:

jobs:
  raw-mt81:
    name: raw aarch64 mt81xx
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v3
      - uses: cachix/cachix-action@v14
        with:
          name: 9lore
          skipPush: true
          useDaemon: false
      - run: nix build -L .#nixosImages.raw-mt81
      - uses: actions/upload-artifact@v4.6.2
        with:
          path: result/*.img
  raw-sc7180:
    name: raw aarch64 sc7180
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v3
      - uses: cachix/cachix-action@v14
        with:
          name: 9lore
          skipPush: true
          useDaemon: false
      - run: nix build -L .#nixosImages.raw-sc7180
      - uses: actions/upload-artifact@v4.6.2
        with:
          path: result/*.img
  raw-x86:
    name: raw x86_64 cros
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v3
      - uses: cachix/cachix-action@v14
        with:
          name: 9lore
          skipPush: true
          useDaemon: false
      - run: nix build -L .#nixosImages.raw-x64cros
      - uses: actions/upload-artifact@v4.6.2
        with:
          path: result/*.img
  iso-x64:
    name: ISO 9660 x86_64
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v3
      - uses: cachix/cachix-action@v14
        with:
          name: 9lore
          skipPush: true
          useDaemon: false
      - run: nix build -L .#nixosImages.iso-x86_64
      - uses: actions/upload-artifact@v4.6.2
        with:
          path: result/*.iso
