name: Update lockfile
on:
  workflow_dispatch:
  schedule:
  - cron: "0 6 * * *"

jobs:
  lockfile:
    name: "Update lockfile"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/update-flake-lock@v24
      - name: Print PR number
        run: echo Pull request number is ${{ steps.update.outputs.pull-request-number }}.
      - run: "gh pr merge --auto --merge ${{ steps.update.outputs.pull-request-number }}"
        if: ${{ steps.update.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ github.token }}
