name: Update lockfile
on:
  workflow_dispatch:
  schedule:
  - cron: "0 6 * * *"

jobs:
  lockfile:
    name: "Update lockfile"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16
      - name: Update flake.lock
        id: update
        uses: DeterminateSystems/update-flake-lock@v24
        with:
          token: ${{ secrets.GH_TOKEN }}
          git-author-name: 'ninelore CI'
          git-author-email: 'ci-bot@9lo.re'
          git-committer-name: 'ninelore CI'
          git-committer-email: 'ci-bot@9lo.re'
      - name: Attempt automatic merge
        run: |
          gh pr merge --auto --merge ${{ steps.update.outputs.pull-request-number }} || true
        if: ${{ steps.update.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ github.token }}
