name: Update lockfile
on:
  workflow_dispatch:
  schedule:
  - cron: "0 6 * * *"

jobs:
  lockfile:
    name: "Update lockfile"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v17
      - name: Update flake.lock
        id: update
        env:
          GITHUB_TOKEN: ${{ secrets.GH_BOTACC_TOKEN }}
        run: |
          git config user.name "ninelore-bot"
          git config user.email "ci-bot@9lo.re"
          git pull origin main
          nix flake update --commit-lock-file
          git push origin main
