name: Update lockfile
on:
  workflow_dispatch:
  schedule:
  - cron: "0 6 * * *"

jobs:
  lockfile:
    name: "Update lockfile"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v17
      - name: Update flake.lock
        id: update
        uses: DeterminateSystems/update-flake-lock@v25
