name: Updates
on:
  workflow_dispatch:
  schedule:
  - cron: "0 3 * * *"

jobs:
  nix-update:
    name: "Updates"
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Updates
        run: |
          set -Eeu
          toUpdate=(
            'legacyPackages.x86_64-linux.warcraftlogs'
          )
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          nix profile add nixpkgs#nix-update
          nix flake update --commit-lock-file
          for i in "${toUpdate[@]}"; do
            MSGFILE="/tmp/nix-MSGFILE-$i"
            nix-update $i -q --flake --version=branch --write-commit-message $MSGFILE
            if [[ -r $MSGFILE ]]; then
              sed -i s/legacyPackages.x86_64-linux.// $MSGFILE
              git commit -aF $MSGFILE
            fi
          done
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: ci/update
          delete-branch: true
          title: "Updates"
          body: |
            Update everything

            See commit messages for details
