name: Updates
on:
  workflow_dispatch:
  schedule:
  - cron: "0 3 * * *"

jobs:
  lockfile:
    name: "Update lockfile"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Updates
        run: |
          set -Eeu
          toUpdate=()
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          nix profile add nixpkgs#nix-update
          nix flake update --commit-lock-file
          for i in "${toUpdate[@]}"; do
            nix-update $i -q --flake --commit --version=branch
            nix-collect-garbage --quiet
          done
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: ci/update
          delete-branch: true
          title: "Updates"
          body: |
            Update everything

            See commit messages for details
